
body{
    margin: 0;
    font-family: 'PT Sans Narrow', sans-serif;
}

p{
    font-size: 20px;
}

.banner{
    background-image: url("./images/donation3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.banner-wrapper{
    width: 50%;
    text-align: center;
    margin: auto;
    color: white;
}

.banner-title{
    padding-top: 100px;
    font-size: 70px;
    margin-bottom: 0;
}

.banner-description{
    font-size: 20px;
    color: white;
    line-height: 30px;
}

.donate-btn{
    width: 120px;
    padding: 15px;
    background-color:lawngreen;
    border: none;
    border-radius: 10px;
    margin-top: 30px;
    font-size: 16px;
    color: red;
}

.donate-area{
    width: 60%;
    margin: auto;
}

.donate-header{
    text-align: center;
    width: 100%;
    margin-bottom: 35px;
}

.donate-title{
    font-size: 40px;
    font-family: arial;
}

.donate-description{
    line-height: 23px;
}

.donate-amount{
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
}

.donate-amount span{
    margin: 10px;
    width: 15%;
    background-color: rgba(0, 0, 0, 0.048);
    height: 30px;
    padding: 30px;
    font-size: 20px;
    font-weight: bold;
    font-family: arial;
    border-radius: 5px;
}

.active{
    border: 5px solid red;
    color: red;
}

.donate-sent{
    width: 100%;
    text-align: center;
}

.donate-sent input{
    width: 100%;
    text-align: center;
    padding: 10px;
    border: 2px solid red;
    border-radius: 10px;
    outline: none;
    margin-bottom: 20px;
}

.donate-sent-btn{
    width: 150px;
    padding: 15px;
    background-color: tomato;
    border-radius: 15px;
    border: none;
    font-size: 17px;
    margin-bottom: 60px;
    color: white;
}



.plan-header{
    text-align: center;
    width: 535px;
    margin: auto;
    padding-bottom: 60px;
}
.plan-header h1{
    font-size: 40px;
    margin-bottom: 0;
}

.donate-categories{
    display: flex;
    justify-content: center;
    width: 90%;
    margin: auto;
}


.category{
    width: 32%;
    margin: 10px;
    text-align: center;
    border-radius: 10px;
    padding: 10px;
    padding-top: 25px;
    box-shadow: 2px 2px 40px rgba(0, 0, 0, 0.13);
}

.food-card{
    background-color: rgba(100, 148, 237, 0.226);
}

.shelter-card{
    background-color: rgba(128, 128, 128, 0.26);
}

.edu-card{
    background-color: rgba(250, 128, 114, 0.267);
}

.edu-card p{
    text-align: left
}

#volunteer-section{
    margin: 50px auto;

}
#volunteer-header{
    text-align: center;
    width: 45%;
    margin: auto;
}
#volunteer-header h1{
    margin-bottom: 0;
}
#volunteer-form{
    background-color: #9acd3230;
    width: 40%;
    margin: 50px auto;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 5px 5px 40px #9acd3230;
}
#volunteer-form input{
    padding: 5px;
}
#volunteer-btn {
    background-color: #1465ed;
    text-align: center;
    margin-left: 15px;
    padding: 10px;
    width: 100px;
    font-size: 18px;
    border-radius: 10px;
    color: white;
    border: none;
}

#subscribe-area{
    width: 50%;
    margin: auto;
    text-align: center;
    margin-top: 70px;
}

#subscribe-form{
    background-color: #ffa50036;
    padding: 60px;
    border-radius: 10px;
    margin-top: 60px;
}

#subscribe-form form{
    border-radius: 5px;
}

#subscribe-form input{
    padding: 13px;
    width: 50%;
    text-align: left;
    outline: none;
    border: none;
    padding-right: 48px;
    border-radius: 10px;
    margin-right: -20px;

}

#subscribe-form button{
    padding: 10px;
    border: none;
    background-color: orange;
    font-size: 17px;
    margin-left: -4px;
    border-radius: 10px;
   
}

footer{
    background-color: #000000a8;
    color: white;
    text-align: center;
    padding: 30px 0px;
    margin-top: 80px;

}

footer h1{
    color:red
}
